<!-- includeCarousel.html -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
      
        <div class="item active">
          <img src="/assets/img/carousel/bootstrap-mdo-sfmoma-01.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Présentation.</h1>
              <p class="lead">Patrick Alin Enterprise Architect.</p>
              <a class="btn btn-large btn-primary" href="/site/patrickalin/">Learn More</a>
            </div>
          </div>
        </div>
        
        <div class="item">
          <img src="/assets/img/carousel/bootstrap-mdo-sfmoma-02.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Architecture.</h1>
              <p class="lead">Architectures definitions.</p>
              <a class="btn btn-large btn-primary" href="/ea/architecture/">Learn more</a>
            </div>
          </div>
        </div>
        
        <div class="item">
          <img src="/assets/img/carousel/bootstrap-mdo-sfmoma-03.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>TBC</h1>
              <p class="lead">TBC</p>
              <a class="btn btn-large btn-primary" href="/TBC/">Browse initiatives</a>
            </div>
          </div>
        </div>
        
        <div class="item">
          <img src="/assets/img/carousel/slide-03.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>TBC</h1>
              <p class="lead">TBC</p>
              <a class="btn btn-large btn-primary" href="/TBC/">Browse publication</a>
            </div>
          </div>
        </div>
        
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
<!-- includeCarousel.html
========================================================================================================== -->
