<!-- includeSildeBarNxtgen.html-->
<div class="span3">
	<div class="span3 bs-docs-sidebar">
		<ul class="nav nav-list bs-docs-sidenav">
		<li><a href="#Businessconcept"><i class="icon-chevron-right"></i> Businness Concept</a></li>
		<li><a href="#Applicationconcept"><i class="icon-chevron-right"></i> Application Concept</a></li>
		<li><a href="#Infrastructureconcept"><i class="icon-chevron-right"></i> Infrastructure Concept</a></li>
		<li><a href="#Dataconcept"><i class="icon-chevron-right"></i> Data Concept</a></li>
		</ul>
	</div>      
</div>
<!-- End includeSildeBarNxtgen.html
========================================================================================================== -->
