<!-- includeSlideBarInitiatives.html -->
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
			<li><a href="#Deploying Infrastructure">Deploying Infrastructure</a></li>
			<li><a href="#MakingSoftware"><i class="icon-chevron-right"></i> Making software</a></li>
			<li><a href="#DesignContent"><i class="icon-chevron-right"></i> Design and content</a></li>
			<li><a href="#Measurement"><i class="icon-chevron-right"></i> Measurement</a></li>
			<li><a href="#Operations"><i class="icon-chevron-right"></i> Operations</a></li>
			<li><a href="#Data"><i class="icon-chevron-right"></i> Data</a></li>
        </ul>
      </div>
      <!-- End includeSlideBarInitiatives.html
========================================================================================================== -->
