<!-- includeNavBar.html -->	
	<div class="navbar navbar-inverse navbar-fixed-top noprint">
		<div class="navbar-inner">
			<div class="container">
                    		
			
				<div class="nav-collapse collapse">
				<ul class="nav">
				  	
					<li class="dropdown">
						<a href="/" id="warningHostname">{{site.name}}</a>
					</li> 
				  
					<li class="dropdown">
						<a href="/ea/ea/" class="dropdown-toggle" data-toggle="dropdown">EA<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/ea/ea/#ea-principles">EA Principles</a></li>
							<li><a href="/ea/ea/#intern-affair-principles">Intern Affair Principles</a></li>
							<li><a href="/ea/ea/#missions">Missions</a></li>
							<li><a href="/ea/ea/#process">Process</a></li>
							<li><a href="/ea/ea/#archimate-20">Archimate 2.0</a></li>
							<li><a href="/ea/ea/#contact">Contact</a></li>
						</ul>
					</li>
				  
					<li class="dropdown">
						<a href="/ea/concepts/" class="dropdown-toggle" data-toggle="dropdown">Concepts<b class="caret"></b></a>
						<ul class="dropdown-menu">
						<li class="nav-header">Concepts</li>
						<li><a href="/ea/concepts//#overviewconcept">Overview</a></li>
						<li><a href="/ea/concepts//#applicationconcept">Application concepts</a></li>
						<li><a href="/ea/concepts//#infrastructureconcept">Infrastructure concepts</a></li>				  
						<li><a href="/ea/concepts//#dataconcept">Data concepts</a></li>								
						</ul>
					</li>
					
					<li class="dropdown">
						<a href="/ea/architectures/" class="dropdown-toggle" data-toggle="dropdown">Architectures<b class="caret"></b></a>
						<ul class="dropdown-menu">		
						<li class="nav-header">Architectures</li>			
						<li><a href="/ea/architectures/#Business">Business Architecture</a></li>
						<li><a href="/ea/architectures/#Application">Application Architecture</a></li>
						<li><a href="/ea/architectures/#Infrastructure">Infrastructure Architecture</a></li>
						<li><a href="/ea/architectures/#Data">Data Architecture</a></li>               
						</ul>
					</li>
				    <li class="dropdown">
						<a href="/ea/designs/" class="dropdown-toggle" data-toggle="dropdown">Designs<b class="caret"></b></a>
						<ul class="dropdown-menu">
						<li class="nav-header">Designs</li>	
						<li><a href="/ea/designs/#Deploying Infrastructure">Deploying Infrastructure</a></li>			
						<li><a href="/ea/designs/#Making Software">Making software</a></li>
						<li><a href="/ea/designs/#Measurement">Measurement</a></li>
						<li><a href="/ea/designs/#Operations">Operations</a></li>
						<li><a href="/ea/designs/#Data">Data</a></li>          
						</ul>
					</li>
					
					<li class="dropdown">
						<a href="/ea/eateam/" class="dropdown-toggle" data-toggle="dropdown">Varia<b class="caret"></b></a>
						<ul class="dropdown-menu">				
							<li><a href="/reports/">Reports</a></li>	
							<li><a href="/ea/glossary/">Glossary</a></li>
							<li><a href="/ea/jorg/">Sitemap</a></li>
							<li><a href="/ea/bookmarks/">Bookmarks</a></li>
							<li><a href="/ea/tools/">Tools</a></li>							
						</ul>
					</li>	 
				</ul>
				<form action="/ea/search" method="get" class="navbar-form pull-right">
					<input type="text" id="search-query2" name="q" placeholder="Search">
				</form>				
					
				</div>
			</div>
		</div>
    </div>
	
<!-- End includeNavBar.html
========================================================================================================== -->
