<!-- includeContentHome.html-->
<div class="container">
	<div class="marketing">
		<section id="ea">
			<h1>Site Patrick Alin.</h1>
			<p class="marketing-byline">Patrick Alin Enterprise Architect</p>
		</section>
		<video height="400" width="600" controls>
	        	<source src="/assets/video/whyEA.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
     		</video>
	</div>
</div>
<!-- End includeContentHome.html
========================================================================================================== -->
