<!-- includeNavBar.html -->	
	<div class="navbar navbar-inverse navbar-fixed-top noprint">
		<div class="navbar-inner">
			<div class="container">
                    		
			
				<div class="nav-collapse collapse">
				<ul class="nav">
				  	
					<li class="dropdown">
						<a href="/" id="warningHostname">{{site.name}}</a>
					</li> 
				  
					<li class="dropdown">
						<a href="/site/presentation/" class="dropdown-toggle" data-toggle="dropdown">Presentation<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/site/presentation/#principles">Principles</a></li>
							<li><a href="/site/presentation/#contact">Contact</a></li>
						</ul>
					</li>
				  
					<li class="dropdown">
						<a href="/site/concepts/" class="dropdown-toggle" data-toggle="dropdown">Concepts<b class="caret"></b></a>
						<ul class="dropdown-menu">
						<li class="nav-header">Concepts</li>
						<li><a href="/site/concepts//#overviewconcept">Overview</a></li>
						<li><a href="/site/concepts//#applicationconcept">Application concepts</a></li>
						<li><a href="/site/concepts//#infrastructureconcept">Infrastructure concepts</a></li>				  
						<li><a href="/site/concepts//#dataconcept">Data concepts</a></li>								
						</ul>
					</li>
					
					<li class="dropdown">
						<a href="/site/architectures/" class="dropdown-toggle" data-toggle="dropdown">Architectures<b class="caret"></b></a>
						<ul class="dropdown-menu">		
						<li class="nav-header">Architectures</li>			
						<li><a href="/site/architectures/#Business">Business Architecture</a></li>
						<li><a href="/site/architectures/#Application">Application Architecture</a></li>
						<li><a href="/site/architectures/#Infrastructure">Infrastructure Architecture</a></li>
						<li><a href="/site/architectures/#Data">Data Architecture</a></li>               
						</ul>
					</li>
				    <li class="dropdown">
						<a href="/site/designs/" class="dropdown-toggle" data-toggle="dropdown">Designs<b class="caret"></b></a>
						<ul class="dropdown-menu">
						<li class="nav-header">Designs</li>	
						<li><a href="/site/designs/#Deploying Infrastructure">Deploying Infrastructure</a></li>			
						<li><a href="/site/designs/#Making Software">Making software</a></li>
						<li><a href="/site/designs/#Measurement">Measurement</a></li>
						<li><a href="/site/designs/#Operations">Operations</a></li>
						<li><a href="/site/designs/#Data">Data</a></li>          
						</ul>
					</li>
					
					<li class="dropdown">
						<a href="/site/eateam/" class="dropdown-toggle" data-toggle="dropdown">Varia<b class="caret"></b></a>
						<ul class="dropdown-menu">				
							<li><a href="/reports/">Reports</a></li>	
							<li><a href="/site/glossary/">Glossary</a></li>
							<li><a href="/site/jorg/">Sitemap</a></li>
							<li><a href="/site/bookmarks/">Bookmarks</a></li>
							<li><a href="/ea/tools/">Tools</a></li>							
						</ul>
					</li>	 
				</ul>
				<form action="/site/search" method="get" class="navbar-form pull-right">
					<input type="text" id="search-query2" name="q" placeholder="Search">
				</form>				
					
				</div>
			</div>
		</div>
    </div>
	
<!-- End includeNavBar.html
========================================================================================================== -->
