<!-- includeCarousel.html -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
      
        <div class="item active">
          <img src="/assets/img/carousel/bootstrap-mdo-sfmoma-01.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Présentation.</h1>
              <p class="lead">Patrick Alin Enterprise Architect.</p>
              <a class="btn btn-large btn-primary" href="/site/presentation/">Learn More</a>
            </div>
          </div>
        </div>


     	<div class="item">
          <img src="/assets/img/carousel/slide-03.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Concepts</h1>
              <p class="lead">My concepts</p>
              <a class="btn btn-large btn-primary" href="/site/concepts">Browse concepts</a>
            </div>
          </div>
        </div>
  
        <div class="item">
          <img src="/assets/img/carousel/bootstrap-mdo-sfmoma-02.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Architecture.</h1>
              <p class="lead">My Architectures.</p>
              <a class="btn btn-large btn-primary" href="/site/architecture/">Browse architecture</a>
            </div>
          </div>
        </div>
        
        <div class="item">
          <img src="/assets/img/carousel/bootstrap-mdo-sfmoma-03.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Designs</h1>
              <p class="lead">My Designs</p>
              <a class="btn btn-large btn-primary" href="/site/designs/">Browse designs</a>
            </div>
          </div>
        </div>
        
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
<!-- includeCarousel.html
========================================================================================================== -->
