<!DOCTYPE html>
<html lang="en">
<!-- layoutConcepts.html -->
{% include includeHeader.html %}
<body data-spy="scroll" data-target=".bs-docs-sidebar">
{% include includeNavbar.html %}

<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Browse Concepts by topic</h1>
    <p class="lead">A list of all concepts.</p>
  </div>
</header>

<div class="container-fluid tooltip-demo">
	<div class="row-fluid">
		{% include includeSlideBarConcepts.html %}	
		<div class="span9">
		

<!-- content {{page.filename}}
========================================================================================================== -->
	{{ content }}
<!-- end {{page.filename}} 
========================================================================================================== -->

		{% for item in site.architecturecategories %}
		    <hr>
			{% assign category = {{item}}%}
			<h1 id="{{category}}concept">
				<img src="/assets/icones/{{item}}.png" alt="{{item}}">-
				{{item}} Concept
			</h1>
			{% assign variablei = 0 %}<!-- i=0 -->
			
			{% for page in site.pages %}<!-- for pages-->
				{% if page.type == site.concept%}<!-- if category-->
					{% if page.category == category%}<!-- if category-->
						{% capture modulus %}{{ variablei | modulo:3 }}{% endcapture %}<!-- Modulo 3-->
						{% if modulus == "0" %}<!-- Test Modulo-->
							<div class="row-fluid"><!-- Start Row-->
						{% endif %}<!-- Endif-->		
						<div class="span4 well">
						
						<h5><font size="5">

						{% if page.status == nil%}
						<img src="/assets/icones/checkbox-unchecked.png" alt="Unchecked">
						{% endif %}
						{% if page.status != nil%}							
						<a href="#" data-toggle="tooltip" title="{{page.status}}"><img src="/assets/icones/{{page.status}}16.png" alt="{{page.status}}16.png"></a>							
						{% endif %}
						
						{{ page.title}}
						
						</font></h5>

						<p font-sire="14px">
						{{ page.description }}
						</p>
						<p>
						<a class="btn" href="{{page.url}}">View details &raquo;</a>
						</p>
						</div>
						{% if modulus == "2" %}<!-- Test Modulo 2 --> 
							</div><!-- End Row-->
						{% endif %}<!-- Endif Modulo-->
						{% capture variablei %}{{ variablei | plus:1 }}{% endcapture %}<!-- i++ --> 
					{% endif %}<!-- Endif type-->
				{% endif %}<!-- Endif category-->
			{% endfor %}<!-- Endfor page-->
			{% if modulus != "2" and variablei != 0%}<!-- Test Modulo 2 -->
				</div><!-- End Row-->
			{% endif %}
		{% endfor %}

		</div>
	</div>
</div>

{% include includeFooter.html %}
{% include includeJavascript.html %}
  </body>
</html>
<!-- end layoutConcepts.html 
========================================================================================================== -->
